Git commit messages should be short and concise.

Use "problem" word instead of "implementation" in git commit messages.
For example:
- "add greedy algorithm problem" instead of "implement greedy algorithm"

Dry run problem reference:"src/01-warm-up/05_second-largest-dry-run.md"

Do not include multiple multiple test case dry runs in the dry-run file.